{% extends 'base.html' %}

{% block title %}Add To List{% endblock %}

{% block content %}
    <div class="list-game-form-landing">
        <form method="POST">
            {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="flash-msg {{ category }}">{{ message }}</div>
            {% endfor %}

            {{ form.hidden_tag() }}

            {% for field in form 
                if field.widget.input_type != 'hidden' %}

            <div class="form-field">
                {{ field.label }}
                {{ field(class_="input-field") }}
            </div>
            {% endfor %}

            <button class="button">Add Game</button>
        </form>
    </div>
{% endblock %}