{% extends 'base.html' %}

{% block title %}Add To List{% endblock %}

{% block content %}
    <div class="list-game-form-landing">
        <form method="POST">
            {{ form.hidden_tag() }}

            {% for field in form 
                if field.widget.input_type != 'hidden' %}

            <div class="form-field">
                {{ field.label }}
                {{ field(class_="input-field") }}

                {% for error in field.errors %}
                <span class="input-error">{{ error }}</span>
                {% endfor %}
            </div>
            {% endfor %}

            <button class="button">Add Game</button>
        </form>
    </div>
{% endblock %}