{% extends 'base.html' %}

{% block title %}{{ game.get('name') }}{% endblock %}

{% block content %}
    <div id="game-details-landing">
        <p>{{ game.get('name') }}</p>

        <form action="/games/{{ game.get('guid') }}/add" method="POST">
            <button class="button">Add to List</button>
        </form>

        <p>{{ game.get('original_release_date') }}</p>
        <p id="game-desc">{{ game.get('description') }}</p>

        <div>
            <h2>Similar Games</h2>
            <ul>
                {% if game.get('similar_games') %}
                {% for sim in game.get('similar_games') %}
                <li><a href="/games/3030-{{ sim.get('id') }}">{{ sim.get('name') }}</a></li>
                {% endfor %}
                {% else %}
                <h3>Nothing found here!</h3>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}