{% extends 'base.html' %}

{% block title %}jGames | Search{% endblock %}

{% block search %}
    <form id="search-search" method="POST">
        {{ form.hidden_tag() }}

        {% for field in form 
            if field.widget.input_type != 'hidden' %}

        <div id="search-field" class="form-field">
            {{ field(class_="input-field", placeholder="search") }}
        </div>

        {% endfor %}

        <button style="display: none;">Search</button>
    </form>
{% endblock %}

{% block content %}
    <div id="search-results">
        {% for result in results %}
        <a href="/games/{{ result.get('guid') }}">
            <div class="game-card"> 
                <img src="{{ result.get('image').get('original_url') }}" alt="{{ result.get('name') }} icon">
                <div>
                    <h3 class="game-card-title">{{ result.get('name') }}</h3>
                    {% if result.get('deck') %}
                    <p class="game-card-deck">{{ result.get('deck') }}</p>
                    {% endif %}
                </div>
            </div>
        </a>
        {% endfor %}
        </ul>
    </div>
{% endblock %}