/* ====================== GLOBAL STYLES ========================= */

/* Create :root variables when styles are finalized */

:root {
    font-family: 'Oswald', sans-serif;
    color: #512DA8;

    --primary-purple: #512DA8;
    --secondary-purple: #201240;
    --accent-orange: #FFB647;
    --white: #FFFFFA;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    overscroll-behavior: none;
    font-size: 1.25rem;
    background-color: var(--white);
}

canvas {
    margin-left: 50%;
}

h1 {
    font-size: 3rem;
    letter-spacing: 1px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

input[type=text], input[type=password], select, textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    color: var(--primary-purple);
}

input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus {
    outline: var(--accent-orange) solid 2px;
}

button {
    font-family: 'Oswald', sans-serif;
    color: inherit;
    background-color: unset;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul {
    list-style: none;
}

figure {
    display: none;
}

table {
    width: fit-content;
    border: 2px solid var(--primary-purple);
    border-collapse: collapse;
}

td {
    border: 2px solid var(--primary-purple);
    padding-left: 1rem;
    padding-right: 1rem;
}

.link-spacer {
    margin-left: 1rem;
}


/* ====================== NAVBAR STYLES ========================== */

nav {
    height: 9%;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.white-nav-text {
    color: var(--white);
}

.white-nav-text a {
    color: var(--white);
}

.purple-background {
    background-color: var(--primary-purple);
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem;
}

nav li:first-child {
    margin-right: auto;
}

nav a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}

.navlink-wrapper {
    height: 100%;
    width: 97%;
    margin: auto;
    list-style: none;
    display: flex;
}

#brand-hero {
    font-size: 2rem;
    font-weight: 600;
}

#brand-hero span {
    padding-right: 1rem;
}

#navbar-search {
    padding: 0;
    margin: 0;
    width: 20vw;
    height: fit-content;
}

#search {
    margin-top: 0%;
}

/* ================================================================ */

/* ========================= USER STYLES ========================== */

#dashboard-greeting {
    width: fit-content;
    margin-left: 10%;
    padding-top: 13%;
    padding-bottom: 3rem;
}

#dashboard-greeting h1 {
    font-size: 4rem;
}

#dashboard-profile-details {
    position: absolute;
    top: 17%;
    width: 30%;
    height: fit-content;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#dashboard-profile-details form {
    padding: 0;
    width: 85%;
    margin: auto;
}

#dashboard-profile-details button {
    border: 3px solid var(--accent-orange);
}

.user-wrapper {
    width: 85%;
    margin: auto;
    height: fit-content;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-purple);
    color: var(--white);
}

.user-wrapper * {
    margin: 0.5rem;
}

.user-wrapper img {
    width: 18vw;
    height: 18vw;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 50%;
    border: 3px solid var(--accent-orange);
    box-shadow: 0 0 10px var(--primary-purple);
}

.user-wrapper h2, .user-wrapper p {
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.user-wrapper form {
    width: fit-content;
    padding: 0;
    position: relative;
    margin: auto;
}

#dashboard-list-preview {
    margin-left: 30%;
    height: 100%;
}

#dashboard-list-preview a {
    margin-left: 10%;
}

#no-lists-preview, #list-preview-box {
    width: fit-content;
    margin: auto;
    display: flex;
    align-items: center;

    border: 2px solid var(--primary-purple);
}

#list-preview-box {
    width: 50vw;
    margin-top: 2rem;
    padding: 1rem 0;

    transition: all 100ms linear;
}

#list-preview-box li {
    font-family: 'Open Sans', sans-serif;
}

#list-preview-box:hover {
    box-shadow: 0 0 5px var(--primary-purple);
    transform: translateY(-4%);
}

.list-name {
    width: 40%;
    text-align: center;
}

#no-lists-preview h3 {
    margin: 1rem;
}

#no-lists-preview a {
    display: inline-block;
    margin: 1rem;
}

/* ================================================================ */

/* ===================== SEARCH RESULT STYLES ===================== */

.game-card {
    display: flex;
    justify-content: flex-start;
    min-height: 5rem;
    
    background-color: var(--primary-purple);
    margin: 2rem;
    color: white;

    transition: all 100ms linear;
}

.game-card:hover {
    box-shadow: 0 0 5px var(--primary-purple);
    transform: translateY(-4%);
}

.game-card img {
    /* height: fit-content; */
    min-height: 100%;
    width: 20%;
}

.game-card div {
    width: 74%;
    height: 90%;
    margin-right: 1rem;
    margin-left: 2rem;
}

.game-card div p {
    margin: 1rem 0 2rem;
}

.game-card-title {
    margin-top: 1rem;
}

.game-card-platforms {
    display: flex;
    flex-direction: row;
}

/* ================================================================ */

/* ========================= GAME STYLES ========================== */

#game-details-landing {
    position: relative;
    width: 75%;
    margin: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#game-details-header {
    display: flex;
    background-color: var(--primary-purple);
    color: var(--white);
}

#game-details-header img {
    max-width: 35%;
}

#game-details-header-text {
    max-height: 20rem;
    margin-left: 3rem;
    margin-right: 3rem;
    z-index: 5;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#game-details-header-text h1 {
    width: fit-content;
    position: relative;
    word-wrap: normal;
}

#game-details-header-text h1::after {
    content: '';
    position: absolute;
    bottom: 10%;
    left: 0%;
    background-color: var(--accent-orange);
    width: 100%;
    height: 0.75rem;
    z-index: -1;
}

.platforms, .themes {
    display: flex;
    flex-wrap: wrap;
}

.platforms p, .themes p {
    font-family: 'Oswald', sans-serif;
    margin-right: 1.5rem;
}

#details-deck {
    margin-bottom: 1rem;
}

#game-desc {
    margin-top: 5rem;
}

#game-desc * {
    margin: 1rem 0;
}

#game-desc a {
    pointer-events: none;
    color: inherit;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
}

#game-desc p {
    font-family: 'Open Sans', sans-serif;
}

#game-details-landing h2 {
    position: relative;
    width: fit-content;
}

#game-details-landing h2::after {
    content: '';
    position: absolute;
    bottom: 11%;
    left: 0%;
    background-color: var(--accent-orange);
    width: 100%;
    height: 0.6rem;
    z-index: -1;
}

#add-game {
    padding: 0;
    margin: unset;
    width: 100%;
    display: flex;
}

#add-game button {
    margin-right: auto;
    border: 2px;
}

#add-game a {
    margin-left: 0.25rem;
}

.images-videos-similar-wrappers {
    margin-top: 4rem;
}

#game-images-wrapper, #game-videos-wrapper {
    display: flex;
    overflow: scroll;
    align-items: flex-end;
}

.arrows {
    display: flex;
}

.left-caret {
    font-size: 3rem;
    display: inline-block;
    flex-grow: 1;
}

.right-caret {
    font-size: 3rem;
    display: inline-block;
    flex-grow: 1;
    text-align: right;
}

.game-image, .game-video {
    min-width: 23%;
    margin: 0 0.5rem;
    height: 20%;
    display: inline-block;
}

.game-image img, .game-video img {
    max-width: 100%;
    max-height: 100%;
}

#video-landing {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-wrapper {
    width: 50%;
}

#video-wrapper h1 {
    position: relative;
    width: fit-content;
}

#video-wrapper h1::after {
    content: '';
    position: absolute;
    bottom: 10%;
    left: 0%;
    background-color: var(--accent-orange);
    width: 100%;
    height: 0.75rem;
    z-index: -1;
}

#video-wrapper video {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#video-wrapper p {
    margin-bottom: 5rem;
}

#game-similar-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.similar-game-wrapper ul {
    margin-top: 1rem;
    height: fit-content;
}

.similar-game-wrapper {
    width: fit-content;
    min-width: 45%;
    margin: 1rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    border: 2px solid var(--primary-purple);

    transition: all 100ms linear;
}

.similar-game-wrapper span {
    font-size: 2rem;
    margin-right: 1rem;
}

.similar-game-wrapper:hover {
    transform: translateY(-5%);
}

.similar-game-wrapper a {
    padding: 1rem 2rem;
}

#back-to-top {
    position: absolute;
    bottom: 0%;
    right: 0%;
}

/* ======================== LIST STYLES =========================== */

#hero-list-details {
    width: 75%;
    height: fit-content;
    margin: auto;
    padding-top: 10rem;
}

#hero-list-details .button {
    margin-right: 1rem;
}

#list-title-wrapper {
    margin-bottom: 2.5rem;
}

#list-title-wrapper h1 {
    font-size: 4rem;
}

#list-game-wrapper {
    margin-top: 5rem;
    padding-bottom: 10rem;
}

.list-game {
    width: 85%;
    margin: 2rem auto;
}

.list-game div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-game img {
    max-width: 20%;
}

#list-edit-game-container {
    width: 40%;
    margin: auto;
}

.edit-list-game-wrapper {
    margin: 1rem 0;
    border: 2px solid var(--primary-purple);
    border-right: none;
    position: relative;
}

.game-delete h3 {
    display: inline-block;
    width: 100%;
    margin-right: 2rem;
    padding: 1rem 2rem;
}

#list-edit-game-container a {
    height: 100%;
    width: 75%;
}

#list-delete {
    padding: 0;
    display: inline-block;
    position: relative;
    bottom: 9.25rem;
    left: 45vw;
}

.game-delete {
    width: 90%;
    padding: 0;
    margin: 0;
    display: inline-block;
}

/* ================================================================ */

/* ================================================================ */

main {
    height: 100%;
    width: 100%;
}

.cta-wrapper {
    color: white;
    width: fit-content;
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 5;
}

.authorized-cta-wrapper {
    top: 30%;
}

.unauthorized-cta-wrapper {
    top: 18%;
}

.authorized-cta-wrapper h1::after {
    content: '';
    position: absolute;
    bottom: 10%;
    left: 0%;
    background-color: var(--accent-orange);
    width: 100%;
    height: 1rem;
    z-index: -1;
}

.cta-wrapper h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    width: fit-content;
    position: relative;
    color: var(--white);
}

#first-line {
    margin-bottom: unset;
}

#second-line {
    transform: translateY(-1.2rem);
    margin-bottom: unset;
}

.cta-wrapper a {
    display: inline-block;
    margin: 2rem auto;
}

#cta-button {
    color: var(--primary-purple);
    font-weight: 600;
    background-color: var(--accent-orange);

    transition: all 100ms ease-in;
}

.index {
    font-size: 1.75rem;
    padding: 1rem 2rem;
}

#index-search {
    padding: 0;
    width: 100%;
}

#index-search-field {
    border: 2px solid white;
}

#index-search-field input {
    color: var(--white);
}

.index-search-input {
    background-color: var(--primary-purple);
}

#attribution-block {
    margin-top: 8rem;
}

#edit-user-landing {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#dashboard-landing {
    height: 100%;
    width: 100%;
}

#search-search {
    height: fit-content;
    margin: auto;
    padding: 0;
}

#search-search * {
    margin: 0;
}

#search-results {
    width: 65%;
    margin: auto;
    padding: 10rem 0;
}

/* ======================= FORM STYLES ============================ */

form {
    width: 30%;
    margin: auto;
    padding: 7rem;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}

.input-field {
    margin-top: 0.5rem;
    padding: 0.6rem;
    border: 2px solid var(--primary-purple);
}

.button {
    padding: 0.5rem 1.5rem;
    border: 3px solid var(--primary-purple);
    background-color: var(--primary-purple);
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;

    transition: all 100ms linear;
}

.button:hover {
    transform: translateY(-5%);
}

.button-white {
    border-color: white;
}

.delete-button {
    position: absolute;
    right: 0;
    height: 100%;
}

.delete-button:hover {
    transform: none;
}

/* ================================================================ */



/* ===================== FLASH STYLES ========================== */

.flash-msg {
    padding: 0.5rem 1rem;
}

.danger {
    color: red;
    border: 2px solid red;
}

.caution {
    color: var(--accent-orange);
    border: 2px solid var(--accent-orange);
}

.success {
    color: green;
    border: 1px solid green;
}

/* ============================================================= */

/* ================= MOBILE SCREEN WARNING ===================== */

#screen-size-warning {
    display: none;
}

@media screen and (max-width: 750px){

    #screen-size-warning {
        height: 100vh;
        width: 100vw;

        position: absolute;
        top: 0;
        left: 0%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        z-index: 10;

        background-color: var(--primary-purple);
        color: var(--white);
    }

    #screen-size-warning * {
        margin: 0 4rem;
    }

    body {
        overflow: hidden;
    }
}

/* ============================================================= */