<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Oswald:wght@200;400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5647bfe9c2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/jgames.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script type="module" src="/static/3d-homepage.js"></script>
    <script defer src="/static/jgames.js"></script>
</head>
<body class="{% block index_color %}{% endblock %}">

    <nav>
        <ul class="navlink-wrapper">
            <li id="brand-hero"><a href="/"><span>jGames</span><i class="fas fa-gamepad"></i></a></li>
            {% if g.user %}
            {% block search %}
            {% endblock %}
            <li><a href="/search"><i class="fas fa-search"></i></a></li>
            <li><a href="/user/{{ g.user.id }}">{{ g.user.username }} <i class="fas fa-user-circle"></i></a></li>
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="/signup">Signup</a></li>
            {% endif %}
        </ul>
    </nav>
    
    <main>
        {% block content %}
        <!-- Page content goes here. -->
        {% endblock %}
    </main>

    <div id="screen-size-warning">
        <h2>This website is best experienced on larger screens, so get out your laptops and browse away!</h2>
    </div>

</body>
</html>