{% extends 'base.html' %}

{% block title %}jGames{% endblock %}

{% block index_color %}white-nav-text purple-background{% endblock %}

{% block content %}

    <canvas id="3d-canvas">
        <!-- 3D background goes here. -->
    </canvas>


    {% if g.user %}
    <div class="cta-wrapper authorized-cta-wrapper">
        <h1>Find your games.</h1>
        <form id="index-search" action="/search" method="POST">
            {{ form.hidden_tag() }}

            {% for field in form 
                if field.widget.input_type != 'hidden' %}

            <div id="index-search-field" class="form-field">
                {{ field(class_="input-field index-search-input" , placeholder="search") }}
            </div>

            {% endfor %}

            <button style="display: none;">Search</button>
        </form>

        <div id="attribution-block">
            <p>Powered by <i class="fab fa-python"></i>, <i class="fab fa-js"></i>, and</p>
            <p>the GiantBomb.com API <i class="fas fa-bomb"></i>.</p>
        </div>
    </div>
    {% else %}
    <div class="cta-wrapper unauthorized-cta-wrapper">
        <h1 id="first-line">Search the games</h1>
        <h1 id="second-line">you love.</h1>
        <h1>Pick your favorites.</h1>
        <h1>Dive in.</h1>
        <a id="cta-button" class="index" href="/signup">Start Now!</a>
    </div>
    {% endif %}
{% endblock %}