<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Oswald:wght@200;400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5647bfe9c2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/jgames.css">
    <script defer src="/static/jgames.js"></script>
</head>
<body>

    <nav>
        <ul class="navlink-wrapper">
            <li id="brand-hero"><a href="/"><span>jGames</span><i class="fas fa-gamepad"></i></a></li>
        </ul>
    </nav>
    
    <main>
        <form method="POST">

            <p>Don't have an account?<a class="link-spacer" href="/signup">Signup</a></p>

            {% for category, msg in get_flashed_messages(with_categories=true) %}
            <p class="flash-msg {{ category }}">{{ msg }}</p>
            {% endfor %}

            {{ form.hidden_tag() }}

            {% for field in form 
                if field.widget.input_type != 'hidden' %}

            <div class="form-field">
                {{ field.label }}
                {{ field(class_="input-field") }}

                {% for error in field.errors %}
                <span class="input-error">{{ error }}</span>
                {% endfor %}
            </div>

            {% endfor %}

            <button class="button">Login</button>
        </form>
    </main>

</body>
</html>