<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/jgames.css">
</head>
<body>

    <nav>
        <ul class="navlink-wrapper">
            <li><a href="/">jGames</a></li>
        </ul>
    </nav>
    
    <main>
        <form method="POST">

            <p>Already have an account?<a href="/login">Login.</a></p>

            {% for category, msg in get_flashed_messages(with_categories=true) %}
            <p class="flash-msg {{ category }}">{{ msg }}</p>
            {% endfor %}

            {{ form.hidden_tag() }}

            {% for field in form 
                if field.widget.input_type != 'hidden' %}

            <div class="form-field">
                {{ field.label }}
                {{ field(class_="input-field") }}
            </div>

            {% endfor %}

            <button class="button">Create Account</button>
        </form>
    </main>

</body>
</html>