{% extends 'base.html' %}

{% block title %}{{ list.name }}{% endblock %}

{% block content %}
    <div id="hero-list-details">
        <h2>{{ list.name }}</h2>
        <p>{{ list.description }}</p>

        <a class="button" href="/lists/{{ list.id }}/edit">Edit</a>

        {% if list.game %}
            {% for game in list.game %}
            <p class="game-list-page"><a href="/games/{{ game.id }}">{{ game.title }}</a></p>
            {% endfor %}
        {% else %}
        <p>No games added yet!</p>
        {% endif %}
        <a class="button" href="/search">Add Game</a>
    </div>
{% endblock %}