{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <div id="dashboard-landing">
        

        <div id="dashboard-profile-details">

            <div class="user-wrapper">
            
                <img src="{{ user.avatar }}" alt="{{ user.first_name }} profile photo">

                <h2>{{ user.username }}</h2>
                <p>{{ user.bio }}</p>

            </div>
            <form action="/lists/{{ user.id }}/new">
                <button id="cta-button" class="button">Add List</button>
                <a class="button" href="/user/{{ user.id }}/edit">Edit</a>
            </form>
        </div>
        
        <div id="dashboard-list-preview">

            <div id="dashboard-greeting">
                <h1>Hello, {{ user.first_name }}!</h1>
                <p>Theses are the lists you've made so far...</p>
            </div>

            {% if user.lists %}
                {% for list in user.lists %}
                <a href="/lists/{{ list.id }}">
                    <div id="list-preview-box">
                        <h2 class="list-name">{{ list.name }}</h2>
                        {% if list.game %}
                        <ul class="list-game">
                            {% for game in list.game %}
                            <li>{{ game.title }}</li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>No games yet!</p>
                        {% endif %}
                    </div>
                </a>
                {% endfor %}
            {% else %}
            <div id="no-lists-preview">
                <h3>You don't have any lists yet!</h3>
                <a class="button" id="no-list-new-list" href="/lists/{{ user.id }}/new">Create List</a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}